*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

.hue {
  max-width: 160rem;
  margin: 0 auto;
}
body{
  overflow-x: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  max-width: 160rem;
  padding: 20px 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-size: 20px;
  position: fixed;
  text-decoration: none;
  z-index: 2
}



li {
  display: flex;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  padding-right: 20px;
  text-align: end;
  margin-left: 4%;
}
 nav img{
  margin-left:0%;
 }

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  text-decoration: 2px underline;
  text-underline-offset: 5px;
}
.h1{
  text-align: center;
}

#qwerty{
  height: 100%;
  padding: 10rem 1rem 0 1rem;
}

#portfolio{
  background-color:#CBCBCB;
  height: 100%;
  padding: 10rem 1rem;
  border: solid 1px black;
  
}
h3{
  text-align: center;
}

#certificate {
  border: solid 1px black;
  height: 100%;
  padding: 10rem 1rem;
}
#certificate h1{
  text-align: center;
}

/* Desk */
@media only screen and (min-width: 768px) {
  .bob {
    display: flex; 
    justify-content: center;
     gap: 1rem;
  }
#navs{
  position: fixed;
}
  .ere {
    height: 250px; 
    width: 400px; 
    border-radius: 15px;
  }

  .burger {
    display: flex; 
    gap: 2rem; 
    align-items: center; 
    justify-content: center;
  }
  
  .profko {
    height: 400px; 
    border-radius: 50%; 
    box-shadow: 0 0 10px rgb(196, 196, 196);
  }



  .bump {
    display: flex;
   align-items: center;
   justify-content: center;
  }

  .jungkook {
    max-width: 400px;
  }

  .nice1 {
    height: 600px;
    
  }
}


/* Mobile */
@media only screen and (max-width: 767px) {
  .bob {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ere {
    height: 200px; 
    width: 350px; 
    border-radius: 15px;
    margin-bottom: 20px;
  }
ul{
  align-items: center;
}
  .jungkook h2{
    text-align: center;
  }

  .profko {
    height: 300px;
    margin-bottom: 20px;
    border-radius: 50%; 
    box-shadow: 0 0 10px rgb(196, 196, 196);
  }

  #footer {
    height: 100%;
    padding: 5rem 1rem 0 1rem;
    background-color:black;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    row-gap: 2rem;
  }

  .nice1 {
    max-height: 300px;
  }
}

.about{
  height: 100%;
  padding: 15rem 1rem;
  text-align: center;
  background-color: #CBCBCB;
  font-size: x-large;
}
p{
  text-align: center;
}
#footer {
  height: 100%;
  padding: 5rem 0 0 0;
  background-color:black;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  row-gap: 2rem;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  .bump {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul{
    align-items: center;
  }
  .port-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bob {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}










