*{
  margin: 0;
  padding: 0;
}
 
body{
  overflow-x: hidden;
}
.hero{
  position: relative;
  width: 100%;
  height: 80px;
  background: #000000;
}
 
nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0 ;
  align-items: center;
  justify-content: space-between;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 40px;
}

nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
 
nav ul li a:hover{
  color:gray;
}
.h1{
  text-align: center;
  padding-top: 80px;
  left: 320px;
}
 
.image{
 position: relative;
 height: 100px;
  top: 55px;
  left: 600px;
   }

.text{
  position: relative;
  padding: 20px;
  top: 10px;
  z-index: 3;
}
#qwerty{
  height: 850px;

}

#text1{
  position: relative;
  top: 200px;
  left: 320px;

}

#text2{
  left: 950px;
  top: -250px;

}

.h2{
  position: relative;
  top: 50px;
  left: 420px;
}
.portfolio{
  background-color:#CBCBCB;
  height: 80vh;
  
}
h3{
  position: relative;
  text-align: center;
  top: 50px;
}
.images{
  position: relative;
  top: 100px;
  margin-left: 100px;
}

.content{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}













.about{
  height: 80vh;
  text-align: center;
  background-color: #CBCBCB;
  font-size: x-large;
}

#img1234{
  
  height: 600px;
}






#footer {
  height: 100%;
  padding: 5rem 0 0 0;
  background-color:#ffffff;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}